@import '../../style/bounce.scss';
@import '../../style/appear.scss';

// The wrapper takes the all page
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.from-right {
  @include appear-animation(from-right);
}

.from-left {
  @include appear-animation(from-left);
}

// Contains the main container
.top-container {
  order: 1;
  flex-grow: 2;
}

// Contains the bottom arrow
.bottom-container {
  order: 2;
}

// Contains right, main and left container
.main-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}

// Contains the title, img, etc...
.center-container {
  order: 2;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-container img {
  max-width: 300px;
}

// Make the inner arrow well aligned
@mixin side-container {
  min-width: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Contains the left arrow
.left-container {
  order: 1;
  @include side-container();
}

// Contains the right arrow
.right-container {
  order: 3;
  @include side-container();
}

// Contains a div with the paragraph and the image
.arrow-container {
  display: flex;
  justify-content: center;
}

// The little title on top of the arrow
.arrow-title {
  text-align: center;
  margin: 4px auto;
  font-size: 20px;
}

// The arrow
.arrow {
  // animation: bounce 2s;
  // animation: bounce 1s 0s 0s infinite;
  width: 50px;
  height: 50px;
}

.left-container .arrow {
  @include bounce-animation(bounce-animation-left);
}
.right-container .arrow {
  @include bounce-animation(bounce-animation-right);
}
.bottom-container .arrow {
  @include bounce-animation(bounce-animation-bottom);
}

// "Roll" animaton for the main image
// @keyframes roll-animation {
//   0% {
//     transform: rotate(0deg);
//   }
//   100% {
//     transform: rotate(180deg);
//   }
// }

.center-container img {
  transition: 240s linear;

  &:hover {
    transform: rotate(36000deg);
  }
  // animation: roll-animation 1s linear 0s 1;
}
